@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: 'Mulish', sans-serif; 
}
/* primary button */
.primary-btn{
    background-color: orangered;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1rem;
}
h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
p ,ul{
    color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
/* banner section */
.banner{
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px;
    background-color: whitesmoke;
}
.sp{
    color: orangered;
}
.nav-title{
    display: flex;
    font-size: 2rem;
    gap: 10px;
}
nav h3{
    position: relative;
    top: -40px;
}
nav img{
    width: 40px;
    height: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul{
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    list-style: none;
}
.banner-content{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
   
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    color: white;
    border-radius: 16px; 
}
input, select{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    gap: 30px;
    padding-right: 10px;
    color: rgba(19, 19, 24, 0.50);
}
/* Main section style */
/* Section-1 */

.section-1{
    display: flex;
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px;
    gap: 30px;
}
/* section 2 style */
.section-2{
   text-align: center;
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px;
}
.destination{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
/* section 3 style */
.section-3{
    text-align: center;
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px;  
    
}
.card-img{
    width: 64px;
    height: 64px;
}
.card {
    display:flex;
  gap: 25px;
}
.card div{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 0px;
}
.last-card{
    margin-top: 20px;
    padding: 0 300px;
}
.card .second-card{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);}
    /* Section-4 style */
    .section-4{
        display: flex;
       gap: 25px;
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px; 
    }
    /* section-5 */
    .section-5{
        display: flex;
        gap: 25px;
        padding-left: 130px;
        padding-right: 150px;
        padding-top: 50px; 
    }
    .section-5-content{
        width: 474px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #FF5400;
padding-left: 25px;
padding-top: 20px;
    }
    .section-5-content input{
        border-radius: 8px;
        margin-bottom: 30px;
        
        background: rgba(19, 19, 24, 0.05);
        width: 393px;
height: 52px;
    }
    .secondary-btn{
        width: 393px;
        height: 52px;
        flex-shrink: 0; 
        border-radius: 8px;
        border: none;
        color: white;
background: #FF5400;
    }
    .section-5-img{
        border-radius: 16px;
        background: url('Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;
        width: 672px;
height: 422px;
    }
.travel-btn{
    width: 224px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
background: #FF5400;
border: none;
position: relative;
top: 250px;
left: 300px;
color: white;
}
/* footer */
.footer{
    background: rgba(19, 19, 24, 0.05);
    justify-content: center;
}
.footer-title img{
    position: relative;
    top: 35px;
    width: 45px;
    height: 45px;
}
.footer-title{
    margin-top: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-description{
    text-align: center;
}
.copy-rights{
    text-align: center;
    padding: 100px;
}
.footer-icon{
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
/* responsive for mobile */
@media screen and (max-width:600px) {
    nav ul{
        display: none;
    }
    input,select{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 120px;
       
    }
    .banner{
       padding-left: 50px;
       padding-right: 50px;
    }
    .banner-content{
        padding-top: 10px;
    }
    .section-1 img{
        width: 100%;
    }
    .section-1,.section-2{
        flex-direction: column;
        padding: 0 20px;
    }
    .destination{
        flex-direction: column;
    }
    .destination img ,.section-4 img{
       height: 100%;
        width: 100%;
    }
    .section-3, .section-4{
        flex-direction: column;
        padding: 10px 10px;
    }
    .card{
        flex-direction: column;
    }
    .last-card{
        padding: 10px;
    }
    .section-5{
        padding: 10px;
        flex-direction: column;
    }
    .section-5 input{
        width: 300px;
        height: 50px;
        margin-left: 30px;
    }
    .secondary-btn{
        width: 300px;
        margin-left: 30px;
    }
    .section-5-img{
        width: 100%;

    }
    .travel-btn{
        left: 200px;
        width: 224px;
    height: 100px;
    top: 280px;
    }
}
