@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: 'Mulish', sans-serif; 
}
/* primary button */
.primary-btn{
    background-color: orangered;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1rem;
}
h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
/* banner section */
.banner{
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px;
    background-color: whitesmoke;
}
.sp{
    color: orangered;
}
.nav-title{
    display: flex;
    font-size: 2rem;
    gap: 10px;
}
nav h3{
    position: relative;
    top: -40px;
}
nav img{
    width: 40px;
    height: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul{
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    list-style: none;
}
.banner-content{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
   
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    color: white;
    border-radius: 16px; 
}
input, select{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    gap: 30px;
    padding-right: 10px;
    color: rgba(19, 19, 24, 0.50);
}
/* Main section style */
/* Section-1 */

.section-1{
    display: flex;
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px;
    gap: 30px;
}
/* section 2 style */
.section-2{
   text-align: center;
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px;
}
.destination{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
/* section 3 style */
.section-3{
    text-align: center;
    padding-left: 130px;
    padding-right: 150px;
    padding-top: 50px;  
    
}
.card-img{
    width: 64px;
    height: 64px;
}
.card {
    display:flex;
  gap: 25px;
}
.card div{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 0px;
}
.last-card{
    margin-top: 20px;
    padding: 0 300px;
}
.card .second-card{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);}
/* responsive for mobile */
@media screen and (max-width:600px) {
    nav ul{
        display: none;
    }
    input,select{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 120px;
       
    }
    .banner{
       padding-left: 50px;
       padding-right: 50px;
    }
    .section-1 img{
        width: 100%;
    }
    .section-1,.section-2{
        flex-direction: column;
        padding: 0 20px;
    }
    .destination{
        flex-direction: column;
    }
    .destination img{
       height: 100%;
        width: 100%;
    }
    .section-3{
        flex-direction: column;
        padding: 0px 10px;
    }
    .card{
        flex-direction: column;
    }
    .last-card{
        padding: 10px;
    }
}
